body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.aND {
  text-decoration: none;
  color: white;
  border: 0px;
}

.derecha {
  text-align: end;
}

.centro {
  text-align: center;
}

.overflow-y {
  overflow-y: visible;
}

.nav-base {
  transform: translateY(15%);
}
